body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(rgb(134, 134, 155), white);
    padding: 20px 0px;
    color: black;
    width: 100%;
    bottom: 0;
    left: 0;
}

.jumbotron {
    margin:0;
    padding: 160px;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    background-color: rgb(7, 8, 110);
}

