body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
    background-attachment: fixed;
}

.jumbotron {
    margin:0;
    padding: 180px;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.footer {
    background-image: linear-gradient(rgb(134, 134, 155), white);
    padding: 20px 0px;
    color: black;
    width: 100%;
    bottom: 0;
    left: 0;
}